/* Keep this file minimal; most styling comes from Tailwind CDN for now. */
html {
  color-scheme: dark;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 639px) {
  html.not-standalone .app-only {
    display: none !important;
  }

  html.is-standalone .browser-only {
    display: none !important;
  }
}
